* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, #12151d, #859398);
}

#container {
  width: 100%;
  height: 600px;
  margin: auto;
  text-align: center;
}

#container h1 {
  margin-top: 60px;
  padding-top: 2%;
  font-weight: bolder;
  color: #d7e7ec;
  /* background-color: #3e626e; */
}

input {
  padding: 1%;
  border-radius: 5px;
}

#btn {
  margin-top: 1%;
}

#btn button {
  padding: 1%;
  width: 15%;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 100%;
  border: none;
  cursor: pointer;
}

#btn button:hover {
  background-color: #859398;
}

#container > #movie_data {
  /* border-top: 1px solid black; */
  /* background: linear-gradient(to right, #020202, #a8caba); */
  color: white;
  /* text-align: left; */
  height: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

#movie_data img {
  width: 120%;
}

#movie_data div {
  padding: 50px;
  /* margin-left: 5%; */
  text-align: left;
}

#movie_data div:nth-child(1) {
  margin-left: 10%;
}
#movie_data div:nth-child(2) {
  margin-left: 10%;
  font-size: 18px;
  font-weight: 500;
}

#movie_data div:nth-child(2) p:nth-child(1) {
  margin-top: 8%;
  font-size: 27px;
  font-weight: 600;
}

span h3 {
  font-size: 17px !important;
  width: 40%;
  padding: 3%;
  border-radius: 5px;
  color: #fff;
  margin-left: 1%;
  background-color: #5b639c;
}

/* =============================== header ============================================ */

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: #5b639c;
}

header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .navigation li {
  list-style: none;
  margin: 0 10px;
}

header .navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

#login-div p {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

#login-div p:hover {
  color: rgb(228, 137, 228);
}

header .navigation li a:hover {
  color: rgb(228, 137, 228);
}

header .search {
  position: relative;
  width: 350px;
  height: 40px;
}

header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}
header .search input::placeholder {
  color: #fff;
}

header .search #s_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

/* ========================= */

#movies {
  margin-top: 41px;
  margin-bottom: 0px;
  /* height: 400px; */
  height: auto;
  width: 350px;
  border: 1px solid #5b639c;
  border-top: none;
  padding: 0px 8px;
  background: #fff;
  scroll-behavior: smooth;
  border-radius: 4px;
}

#movies {
  max-height: 440px;
  /* min-height: 116px; */
  overflow: scroll;
}

#movies::-webkit-scrollbar {
  height: 0;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#movies img {
  width: 100%;
  height: 100px;
  margin-top: 1%;
}

#movies {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 2px;
}

#movies div {
  margin-top: 1%;
  border-radius: 5px;
  height: 70px;
  /* background-color:aqua */
}

#movies div:nth-child(n) {
  height: 105px;
  margin-top: 4%;
  border-radius: 5px;
  background-color: blue;
  /* object-fit: cover; */
}

#movies div:nth-child(2n) {
  /* height: 70px; */
  margin-top: 1%;
  border-radius: 5px;
  padding: 15px;
  /* margin:auto; */
  background-color: azure;
}

@media (max-width: 991px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
  }
}
